@tailwind base;
@tailwind components;
@tailwind utilities;


.restaurant_register {
    display: none;
}

.patron_register {
    display: none;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.collapse.show {
    visibility: visible;
  }
