* {
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}

html {
    height: 100%;
    width: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
    background-image: url('/static/swccg/Test1background.png');
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    height: 552px;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
}

#sixtyFirst {
    position: absolute;
    bottom: 160px;
    left: 30px;
    display: none;
    flex-wrap: wrap;
    width: 60vw;
    height: 15vh;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
}

#cardsOutsideDeck {
    position: absolute;
    z-index: auto;
    display: none;
    flex-wrap: wrap;
    width: 60vw;
    height: 20vh;
    bottom: 160px;
    left: 30px;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
}

#deckBuilder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    overflow: visible;
    width: 65vw;
    height: 80vh;
    background-color: transparent;
    position: relative;
}

#search {
    position: relative;
    width: 30vw;
    padding-left: 0pt;
}

/* #secondaryParameter {
    display: auto;
} */

.collapsible {
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding: 12px; */
    cursor: pointer;
    width: 200px;
    height: 45px;
    font-size: 18px;
}

.active, .collapsible:hover {
    background-color:aliceblue;
}

.card {
    display: flex;
    flex-basis: auto;
    height: 138.3px;
    width: 100px;
}

.deckCard {
    height: 125.5px; 
    width: 90px;
}

#parameterDiv {
    height: 100px;
    border: 3px solid #C7C7C7;

}
.searchBar {
    background-image: url('/static/swccg/Sketch002.png');
    background-position: center;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.focusCardDiv {
    position: absolute; 
    right: 165px;
    bottom: 132px;
    z-index: 9;
    cursor: move;
    border-radius: 20px;
}

.focusSite {
    position: absolute;
    z-index: 9;
    cursor: move;
    bottom: 132px;
    border-radius:20px;
    transform-origin: 0 0;
    transform: rotate(.25turn);
    margin-left: 100%;
    width: 498px;
    height: 358px;
    max-width: none;
}
.focusCard {
    width: 358px;
    height: 498px;  
}

.deckSite {
    transform-origin: 0 0;
    transform: rotate(.25turn);
    width: 90px;
    margin-left: 100%;
    max-width: none;
    width: 125.5px;
}

.site {
    transform-origin: 0 0;
    transform: rotate(.25turn);
    width: 100px;
    margin-left: 100%;
    max-width: none;
    width: 137.4px;
}

.cardContainer {
    display: flex;
    position: relative;
    height: 126px;
}

.cardStack {
    transform: translate(10px);
}

.child {
    position: absolute;
  }

  .import:hover {
    cursor: pointer;
  }

  #lsShields {
    background-image: url('/static/swccg/image.jpg');
    background-position: center;
  }

  #shieldButton {
    background-color: white;
    border-radius: 10px;
  }

  #sixtyOneCards{
    background-color: orange;
    border-radius: 10px;
  }
  
  #outsideDecks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }