
#searchResults {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 552px;
    overflow: scroll;
    flex-direction: row;
    align-content: flex-start;
}

#sixtyFirst {
    display: none;
    flex-wrap: wrap;
    width: 730px;
    height: 140px;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
}

#cardsOutsideDeck {
    display: none;
    flex-wrap: wrap;
    width: 730px;
    height: 280px;
    overflow: auto;
    flex-direction: row;
    align-content: flex-start;
}

#deckBuilder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    overflow: auto;
    width: 730px;
    height: 504px;
}

.collapsible {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(89, 184, 144);
    color:rgb(167, 235, 240);
    /* padding: 12px; */
    cursor: pointer;
    width: 200px;
    height: 45px;
    font-size: 18px;
}

.active, .collapsible:hover {
    background-color:aliceblue;
}

.card {
    display: flex;
    flex-basis: auto;
    height: 138.3px;
    width: 100px;
}

.deckCard {
    height: 125.5px; 
    width: 90px;
}

.searchBar {
    background-image: url('/static/swccg/Sketch002.png');
    background-position: center;
    width: 290px;
    margin: 4px;
}

.focusCardDiv {
    position: absolute; 
    z-index: 9;
    cursor: move;
    border-radius: 20px;
}

.focusSite {
    transform-origin: 0 0;
    transform: rotate(.25turn);
    margin-left: 100%;
    width: 498px;
    height: 358px;
}
.focusCard {
    width: 358px;
    height: 498px;  
}

.deckSite {
    transform-origin: 0 0;
    transform: rotate(.25turn);
    width: 90px;
    margin-left: 100%;
    max-width: none;
    width: 125.5px;
}

.site {
    transform-origin: 0 0;
    transform: rotate(.25turn);
    width: 100px;
    margin-left: 100%;
    max-width: none;
    width: 137.4px;
}
.cardContainer {
    display: flex;
    position: relative;
    height: 126px;
}

.cardStack {
    transform: translate(10px);
}

.child {
    position: absolute;
  }

  .import:hover {
    cursor: pointer;
  }