{% extends 'swccg/layout.html' %}
{% load static %}
{% block body %}
<div id="randomHand"></div>
<div id="deckBuild" class="float-left pl-2 text-center h-screen">
    <div class="pt-2">
        <a href="{% url 'index' %}"class="float-left text-white">Return Home</a>
        <input id="importLightDeck" type="file" class="hidden"/>
        <label for="importLightDeck" class="import bg-gray-200 px-6">Import Light Deck</label>
        <input id="importDarkDeck" type="file" class="hidden"/>
        <label for="importDarkDeck" class="import bg-red-400 px-6">Import Dark Deck</label>
        <button id="saveDeck" class="bg-teal-400 px-6">Save Deck</button>
        <button id="randomHandButton">Generate Random Hand</button>
    </div>
    
    <div class="cardArea active h-screen mt-2 border-2 mb-3 text-left flex-grid" id="deckBuilder">     
    </div>
    <div id="outsideDecks">
        <div id="outsideButtons">
            <button id="shieldButton" class="collapsible">Defensive Shields</button>
            <button id="lsShields" class="image-button">Add/Remove Shields</button>
        </div>
        <div id="cardsOutsideDeck" class="cardArea h-screen border-2 text-left flex-grid">
        </div>
        <div id="sixtyFirstButtons">
            <button id="sixtyFirstButton" class="collapsible px-6">61st Cards</button>
            <button id="clearSixtyFirst" class="image-button">Clear 61st Cards</button>
        </div>
            <div id="sixtyFirst" class="cardArea h-screen border-2 text-left flex-grid">
        </div>
        <span class="mr-10 text-white ml-10">Card Total : <span id="deckCount"></span> / 60</span>
        <span class="text-white">Average Destiny : <span id="averageDestiny"></span></span>
            <div id="sortButtons">
                <button id="sortDeckByType">Sort By Type</button>
                <button id="sortDeckByName">Sort Alphabetically</button>
                <button id="clearDeck">Clear Deck</button>
            </div>
    </div>
</div>
<div id="deckStats"class="float-right text-center">
    <canvas id="typeBreakdown" style="width:10px;height:10px"></canvas>
</div>
<div id="search" class="float-right mr-6 mt-1 text-left h-screen">
    <div class="search_div">
        <select id="side" label="Side">
            <option disabled value="choose">Choose side:</option>
            <option value="Light">Light</option>
            <option value="Dark">Dark</option>
        </select>
        <select id="setOption" label="set">
            <option disabled value="chooseSet">Set:</option>
            <option value="Null">all</option>
            <option value="1">Premiere</option>
            <option value="101">Premiere 2 Player</option>
            <option value="102">Jedi Pack</option>
            <option value="103">Rebel Leader</option>
            <option value="2">A New Hope</option>
            <option value="3">Hoth</option>
            <option value="104">ESB 2 Player</option>
            <option value="4">Dagobah</option>
            <option value="5">Cloud City </option>
            <option value="6">Jabba's Palace</option>
            <option value="106">Sealed Deck</option>
            <option value="7">Special Edition</option>
            <option value="108">Enhanced Premiere Pack</option>
            <option value="8">Endor</option>
            <option value="109">Enhanced Cloud City</option>
            <option value="110">Enhanced Jabba's Palace</option>
            <option value="9">Death Star II</option>
            <option value="112">Jabba's Palace Sealed Deck</option>
            <option value="10">Reflections II</option>
            <option value="11">Tatooine</option>
            <option value="12">Coruscant</option>
            <option value="13">Reflections III</option>
            <option value="13">Theed Palace</option>
            <option value="200">Virtual Set 0</option>
            <option value="201">Virtual Set 1</option>
            <option value="202">Virtual Set 2</option>
            <option value="203">Virtual Set 3</option>
            <option value="204">Virtual Set 4</option>
            <option value="205">Virtual Set 5</option>
            <option value="206">Virtual Set 6</option>
            <option value="207">Virtual Set 7</option>
            <option value="208">Virtual Set 8</option>
            <option value="209">Virtual Set 9</option>
            <option value="210">Virtual Set 10</option>
            <option value="211">Virtual Set 11</option>
            <option value="212">Virtual Set 12</option>
            <option value="213">Virtual Set 13</option>
            <option value="214">Virtual Set 14</option>
            <option value="215">Virtual Set 15</option>
            <option value="216">Virtual Set 16</option>
            <option value="217">Virtual Set 17</option>
            <option value="218">Virtual Set 18</option>
            <option value="219">Virtual Set 19</option>
            <option value="220">Virtual Set 20</option>
            <option value="221">Virtual Set 21</option>
            <option value="301">Virtual Premium Set</option>
        </select>
        <ul class="searchBars">
            <li class="cardSearchBar">
                <select id="optionOne">
                    <option disabled value="choose">Choose type:</option>
                    <option value="Null">Any</option>
                    <option value="Admiral's Order">Admiral's Order</option>
                    <option value="Character">Character</option>
                    <option value="Effect">Effect</option>
                    <option value="Interrupt">Interrupt</option>
                    <option value="Location">Location</option>
                    <option value="Objective">Objective</option>
                    <option value="Starship">Starship</option>
                    <option value="Vehicle">Vehicle</option>
                    <option value="Weapon">Weapon</option>
                    <option value="Defensive Shield">Defensive Shield</option>
                </select>
            </li>
            <li class="cardSearchBar"></li>
            <li class="cardSearchBar">
                <select id="searchOneType">
                    <option value="name">Name</option>
                    <option value="lore">Lore</option>
                    <option value="gametext">Gametext</option>
                    <option value="power">Power</option>
                    <option value="ability">Ability</option>
                    <option value="deploy">Deploy</option>
                    <option value="forfeit">Forfeit</option>
                    <option value="destiny">Destiny</option>
                </select>
                <select id="secondaryParameter">
                    <option value="contains" selected>contains</option>
                    <option value="equals">=</option>
                    <option value="greaterThan">></option>
                    <option value="lessThan"><</option>
                    <option value="lessThanEqualTo">≤</option>
                    <option value="greaterThanEqualTo">≥</option>
                </select>
                <input id="textSearchOne" class="searchBar"></input>
        </ul>
    </div>
    <br><span id="resultCount" class="text-white"></span>
    <div id="searchResults" class="flex-grid">
    </div> 
</div>


{% endblock %}
{% block script %}
<script src="{% static 'swccg/deckbuild.js' %}"></script>
{% endblock %}