{% extends "restaurant/layout.html" %}

{% block body %}
<h1 class="text-center text-2xl mt-7">Thank You for being here</h1>
<div class="p6 m-10">
    <p class="text-center text-lg p-6">
    Here at Local Eats we believe in supporting restaurants not tied to any chains, because
    we believe the best food money can buy comes from the love of locals and locally sourced food.
    That's why we've created a place for restaurants and patron to share their passion with the world.
    </p>
    <p class="text-center text-lg p-6">
    It's often difficult for smaller restaurants to reach potential customers due to financial burdens,
    so we've created Local Eats to help restaurants and hungry patron connect, whether its a night out
    or you're on vacation, our website will find exactly the culinary experience you're looking for.
    </p>
</div>
{% endblock %}