{% extends "restaurant/layout.html" %}
{% load static %}
{% block body %}
{{ eatery|json_script:"kitchen" }}
<br>
<div class="flex flex-row">
    <div class="hidden md:block fixed right-12 top-30 w-3/12 border-solid border-2 border-violet-300 p-10 ml-3 text-center">
        <h1 class="text-2xl">Top Rated Dishes at {{eatery}}:</h1>
    </div>
    <div class="w-full text-center float-left mb-5 md:w-8/12">
        <div class="container">
            <div class="text-center">
                <h1 class="p-2 text-4xl">{{eatery}}</h1>
                <ul>
                    <li>
                    <span>{{restaurant_details.address}}</span></li><li>
                    <span>{{restaurant_details.city}} {{restaurant_details.state}}, {{restaurant_details.country}}</span>
                </li><li><i>{{restaurant_details.description}}</i></li>
                <li><i> call {{restaurant_details.phone_number}}</i></li>
            </ul>
            </div>
        </div>
        {% if owner == True %}
        <div class="p-3">
            <form action="POST">
            {% csrf_token %}
                <i>Add a Course?</i>
                <select id="addCourse">
                {% for courses in course_list %}
                    <option>
                        {{ courses }}
                    </option>
                {% endfor %}
                </select>
                <button id="add" class="bg-red-200 hover:bg-red-400 font-bold py-1 px-4 rounded">Add</button>
            </form>
        </div>
        {% endif %}
        <div class="accordion w-full" id="courses">
            {% if courses %}
            {% for course in courses %}
            <div class="accordion-item w-full" data-target="courses">
                <h2 class="accordion-header" id="{{course}}Header">
                    <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{course}}Collapse" aria-expanded="true" aria-controls="{{course}}Collapse">
                        <h1 class="text-black">{{course}}</h1>
                    </button>
                </h2>
                <div id="{{course}}Collapse" class="accordion-collapse collapse" aria-labelledby="{{course}}Header">
                    <div class="accordion-body">
                    {% if dishes %}
                    {% for dish in dishes %}
                    {% if dish.course == course %}
                        <div id="o{{dish.id}}" data-target="{{course}}Collapse" class="border-solid border-4 border-yellow-300 p-4 mb-2 inline grid md:grid-cols-3 place-items-stretch border-solid">
                            <div id="image{{dish.image_url}}" class="text-center">
                                <ul class="md:float-left">
                                    <li id="name{{dish.name}}" class="text-xl text-center text-bold">
                                        {{dish.name}}
                                    </li>
                                    <li>
                                        <img src="{{dish.image_url}}" class="object-contain h-40 w-40" alt="{{dish.name}}">
                                    </li>
                                    <li id="price{{dish.price}}">
                                        Price:${{dish.price}}
                                    </li>
                                </ul>
                            </div>
                            <div id="description{{dish.description}}" class="text-center">
                                Description:
                                <p>
                                    {{dish.description}}
                                </p>
                            </div>
                            {% if owner == True %}
                            <div class="inline"></div>
                                <ul class="md:text-right inline-block">
                                    <li>
                                        <button class="editDish text-center w-screen md:w-6" style="text-align: center; width: 60px; border-radius: 0.25rem;  margin: 0.5rem; background-color: rgb(134 239 172);" id="e{{dish.id}}">Edit</button>
                                    </li>
                                    <li>
                                        <button class="deleteDish" action="get" style="text-align: center; width: 60px; border-radius: 0.25rem; margin: 0.5rem; background-color: rgb(220 38 38);" id="d{{dish.id}}">Delete</button>
                                    </li>
                                </ul>
                            </div>
                            {% else %}
                            <div>
                                
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if owner == True %}
                        <div class="text-center">
                            <div id="{{course}}AddDish" class="addDish">
                                <button id="submit{{course}}" class="submitDish text-center w-60 rounded m-2 bg-emerald-300 md:w-96">Add a dish to {{course}}</button>
                            </div>
                            <div id="courseDeletion">
                                <button id="delete{{course}}" class="deleteCourse text-center w-60 rounded m-2 bg-red-300 md:w-96">Delete Course?</button>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'restaurant/menubuilder.js' %}"></script>
{% endblock %}