{% extends "restaurant/layout.html" %}
{% load static %}
{% block body%}
<div id="searchResults" class="inline sm:w-screen md:w-1/4 text-center mt-3"style="min-height: 100vh; float:left; height:100%;">
    <button id="geolocate" class="text-2xl bg-yellow-200 hover:bg-yellow-100 font-bold py-2 px-4 rounded">Find a restaurant near me</button>
    <form action="get" id="findRestaurants">
        <select id="distance">
            <option id="walk">Walk</option>
            <option id="bike">Bike</option>
            <option id="drive">Drive</option>
        </select>
    </form>
    <div id="restaurantSearchList" class="p-2">
    </div>
</div>
<div class="inline-block sm:w-screen md:w-2/4 text-center mt-3 bg-orange-200">
    <h1 class="text-4xl"> Check out new kitchens! </h1>
        <input type="text" placeholder="by city" id="city">
        <button id="citySearch">Submit</button>
    <ul id="filterQuery">
    {% for kitchen in kitchen_list %}
        <li class="p-4">
            <ul>
                <a href="{% url 'eatery' kitchen.restaurant_name %}">
                    <h1 class="text-xl font-bold">{{kitchen.restaurant_name}}</h1>
                <li>
                    <span>{{kitchen.city}}, {{kitchen.state}}</span>
                </li>
                <li>
                    <span>{{kitchen.cuisine}} cuisine</span>
                </li>
                <li>
                    <i>opened {{kitchen.created}}</i>
                </li>
                </a>
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>
<div id="recentlyRated" class="hidden md:block w-1/4 inline-block float-right text-center mt-3 bg-rose-50">
    {% if recently_rated %}
    <div>
        <h2 class="text-2xl">Recently Rated Dishes</h2>
    <ul>
        {% for dish in recently_rated %}
        <li class="p-4">
            <a href="{% url 'eatery' dish.restaurant %}">
            {{dish.patron}} gave the {{dish.dish_name}} at {{dish.restaurant}} {{dish.score}} stars!
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'restaurant/index.js' %}"></script>
{% endblock %}