{% extends "restaurant/layout.html" %}

{% block body %}
<div class="text-center">
    <h1 class="p-2 text-4xl">{{request.user}}'s portal!</h1>
    <div id="user_favorites"></div>
        <ul class="p-4 inline-block">
    {% for restaurant in owners_restaurants %}
            <li class="p-3 border-solid rounded-sm bg-orange-300 p-3 w-30 content-center">
                <a href="{% url 'eatery' restaurant.restaurant_name %}">{{restaurant.restaurant_name}}</a>
            </li>
    {% endfor %}
            <li class="p-3 text-center">
                <a class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-full" href="{% url 'create' %}">Create a Restaurant!</a>
            </li>
    </ul>
</div>
{% endblock %}